:javascript
  var submitted = #{Rabl::Renderer.json(@submitted, 'home/requests', :view_path => 'app/views', scope: self)};
  var promoted = #{Rabl::Renderer.json(@promoted, 'home/requests', :view_path => 'app/views', scope: self)};

  App.submitted_list = new App.Collections.Submitted();
  App.promoted_list  = new App.Collections.Promoted();

  App.submitted_list.reset(submitted);
  App.promoted_list.reset(promoted);

  App.votesLimit = #{Rails.application.config.votes_limit}

  App.isAdmin = #{current_user.admin?}

  App.pusherKey = "#{Pusher.key}"

  $(function(){
    App.layout = new App.Views.Application();
    App.layout.render();
    if (App.isAdmin) {
      App.application_router = new App.Routers.Admin;
    } else {
      App.application_router = new App.Routers.Application;
    }
    Backbone.history.start();
  });
