!!!
%html
  %head
    %title Crowdint requests
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_tag '$.fx.off = true;' if Rails.env.test?
    = csrf_meta_tags
  %body
    .main
      = yield
    .footer
      © 2013 This site is protected by Copyright under U.S and international law.
      %br
      All rights reserved
